*{ padding:0; margin: 0; border: 0; }/***/
body{ font-family: Tahoma, Arial, sans-serif; background: #fdfdfd;}
.circle{ border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; }
.red{ background: #b22; color: white; text-shadow: -1px -2px #900; }
.green{ background: #2b2; color: white; text-shadow: -1px -2px #090; }
.blue{ background: #22b; color: white; text-shadow: -1px -2px #009; }
.alert{ margin: 5px; padding: 5px 10px; border-radius: 12px; -webkit-border-radius: 12px; -moz-border-radius: 12px; text-align: center;}
.alert.red{ background: #d00;box-shadow: -1px -2px 0px #900; -webkit-box-shadow: -1px -2px 0px #900; -moz-box-shadow: -1px -2px 0px #900; }
